/* Format top image to fit screen */
#mainimg {
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:35%;
	background-image:url("images/home.jpg");
	background-position:center;
	background-size:cover;
}

/* Position main menu below image */
#menu {
	position:absolute;
	left:0px;
	top:35%;
	width:100%;
	z-index:9999;
}

/* Make menu bar horizontal (vertical by default) */
#menu li { 
	display:inline-block;
	width:19.5%;
	text-align:center;
}

/* Make sub menus vertical */
#menu li.sub {
	display:block;
	text-align:center;
}

/* Main text content */
#maincontent {
	position:absolute;
	top:45%;
	left:8%;
	right:8%;
	height:auto;
	font-family:"helvetica";
}
